

.body{
    background-color: #ffe8f7;
    font-family: sans-serif;
}

.titolo-homepage{
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.medium-text{font-size: 30px;}
.normal-text{font-size: 17px;}

.title-adozioni, .title-volontariato, .titoletti {
  font-family: 'Playfair Display, serif';
}

.titoletti {
  font-size: 30px;
}

.title-volontariato {
  font-size: 60px;
}

.text {
  font-family: 'Georgia', serif;
  font-size: 18px;
}

.wrapper {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 60px; 
}

/* MENU PRINCIPALE E HEADER  */


.header {
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index:1000;
}

.menu li{display: inline-block; margin-left: 1px;}
.menu a{color: black; padding: 10px; display: block;}
.menu {width: 100%;
        background-color: rgba(255, 255, 255, 0.903);
    } 
.logo img {width: auto; height: 70px;}

.pulsante {
    display: none;
    font-size: 30px;
    position: fixed;
    top: 15px;
    left: 75px;
    z-index: 1100;
    cursor: pointer;
  }
  
  .menuleft {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgb(252, 227, 244);
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0,0,0,0.2);
    z-index: 1200;
    
  }
  
  .menuleft.visible {
    display: block;
  }
  
  .chiudimenu {
    display: none;
    font-size: 24px;
    text-align: right;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  @media (max-width: 768px) {
    .pulsante {
      display: block;
    }
  
    .chiudimenu {
      display: block;
    }
  
    .menu {
      height: 70px;
      background-color: rgba(255, 255, 255, 0.903); /* stessa trasparenza */
      display: block;
    }
  
    .menu ul {
      display: none; /* Nasconde le voci */
    }
  }

.box-menuprincipale {
  background-color: #fff0f7; 
  padding: 5px;
  border-radius: 10px;
  margin: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-top: 10px;
}


/* FOOTER */


.footer{
    
    left: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 10;
    background-color: white;
    margin-right: 0px; 
    transition: margin-right 0.3s ease;
}


.footer li {display: inline-block;}


.footer.wide {
  margin-right: 240px;
}

 
.info-footer-3col {
  display: flex;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.colonna-orari, .colonna-contatti {
  font-size: 14px;
  margin-bottom: 8px;
}

.colonna-contatti, .colonna-orari {
  flex: 1;
  min-width: 200px;
}

footer {
  margin-right: 240px; 
  transition: margin-right 0.3s ease;
}

footer.wide {
  margin-right: 0;
}

.colonna-orari-mobile {
  display: none;
}

@media (max-width: 768px) {
  .footer-colonne {
    flex-direction: column;
    align-items: flex-start;
  }

  .colonna-orari {
    display: none;
  }

  .colonna-orari-mobile {
    display: block;
  }

  .colonna {
    width: 100%;
    margin-bottom: 20px;
  }
}




/* MAIN */


.main {
    padding-top: 60px;
    margin-right: 240px;
}



/* SIDE MENU */



.side-menu{
  position: fixed;
  top: 0;         
  right: 0;       
  width: 200px;  
  height: 100%;   
  background-color: rgb(252, 227, 244);
  padding: 15px;
  border-left: 2px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;  
  display: block; 
  overflow-y: auto; 
}

.side-menu h3 {
  font-size: 18px;
  margin-top: 0;
  color: #444;
}

.side-menu ul {
  list-style: none;
  padding-left: 0;
}

.side-menu li {
  margin-bottom: 10px;
  font-size: 14px;
}

.toggle-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  background-color: white;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  z-index: 2000;
}

.toggle-arrow.close {
  right: 200px; 
}

.toggle-arrow.open {
  right: 0;
  border-radius: 5px 0 0 5px;
}

.hidden {
  display: none !important;
}

.main{
  padding-top: 60px;
  margin-right: 240px; 
  transition: margin-right 0.3s ease;
}

.main.wide{
  margin-right: 0; 
}

@media (max-width: 768px) {
  
  .toggle-arrow {
    display: none !important;
  }

  .side-menu {
    display: none;
    right: 0;
    top: 0;
    height: 100%;
    background-color: white;
    width: 200px;
    padding: 20px;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  .side-menu.visible {
    display: block;
  }

  .main {
    margin-right: 0;
  }

  .toggle-arrow {
    display: none !important;
  }

  .main.wide {
    margin-right: 0 !important;
  }
}

.mobile-menu-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1100;
    cursor: pointer;
  }
  
  /* Nascondi side-menu su schermi piccoli */
  @media (max-width: 768px) {
    .side-menu {
      display: none;
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      background-color: white;
      width: 200px;
      padding: 20px;
      box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    }
  
    .side-menu.visible {
      display: block;
    }
  
    .mobile-menu-icon {
      display: block;
    }
  
    .main {
      margin-right: 0; 
    }
  }

  .close-button {
    display: none;
    font-size: 24px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  @media (max-width: 768px) {
    .close-button {
      display: block;
    }
  }


  .box {
    background-color: #fff0f7; 
    padding: 20px;
    border-radius: 10px;
    margin: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .box-eventi {
    background-color: #fff0f7; 
    padding: 20px;
    border-radius: 10px;
    margin: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 10px;
  }

  .box-donazioni {
    background-color: #fff0f7; 
    padding: 20px;
    border-radius: 10px;
    margin: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 10px;
  }

  .box-newinfo {
    background-color: #fff0f7; 
    padding: 20px;
    border-radius: 10px;
    margin: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 10px;
    margin-bottom: 30px;
  }




/* SLIDER */




.slider {
    display: flex;
    overflow: hidden;
    gap: 0px;
    padding: 0;
    scroll-behavior: auto;
    height: 630px;
    border-radius: 0px;
    position: relative;
    transition: transform 0.5s ease-in-out;
    
   
  }
  
.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
}

.slider-image.active {
  opacity: 1;
  z-index: 1;
}


.slider-container {
    position: relative;
    width: 100%;
    
    
}


.slider-nav button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.slider-nav .prev {
  left: 10px;
}

.slider-nav .next {
  right: 10px;
}
.slider-nav button:hover {
  background-color: rgb(159, 158, 158);
}



.slider-nav a {
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  border: 1px solid #999;
  transition: background-color 3s;
}

.slider-nav a:hover,
.slider-nav a:focus {
  background-color: #ff88cc;
}


/* CANI E GATTI ADOZIONI */



  .dogs {
    display: flex; 
    justify-content: space-between; 
    gap: 10px;  
    flex-wrap: wrap; 
    margin: 0 auto;
    padding: 0; 
  }

  .dog {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .dog img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .dog-info {
    padding: 10px;
    background-color: #fff0f7;
    font-size: 14px;
  }

  .cats {
    display: flex; 
    justify-content: space-between; 
    gap: 10px;  
    flex-wrap: wrap; 
    margin: 0 auto;
    padding: 0; 
  }

  .cat {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .cat img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
  }

  .cat-info {
    padding: 10px;
    background-color: #fff0f7;
    font-size: 14px;
  }

  /* CUBOTTI HOME PAGE */

  .cubotti {
    display: flex; 
    justify-content: space-between; 
    gap: 10px;  
    flex-wrap: wrap; 
    margin: 50px;
    padding: 0; 
    
  }

  .cubotto{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  .cubotto img{
    width: 100%;
    height: 70%;
    border-radius: 5px;
    object-fit: cover;
  }

  .cubotto-txt{
    padding: 10px;
    background-color: #fff0f7;
    font-size: 14px;
    margin-bottom: 0;
  }

  /* VOLONTARIATO */

  .blocco-volontariato {
    margin: 20px 0;
  }

  .volontariato-testo {
    flex: 2;
    min-width: 250px;
    max-width: 500px;
    
  }

  .volontariato-testo .text {
    font-size: 18px;
    line-height: 1.6;
  }

  .volontariato-immagine {
    flex: 1;
    text-align: center;
  }

  .contenuto-volontariato {
    display: flex;
    align-items: center; 
    gap: 20px;
    flex-wrap: nowrap;
    max-width: 900px;
    margin: 0 auto;
  }

  .volontariato-immagine img {
    max-width: 380px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  @media (max-width: 768px) {
    .contenuto-volontariato {
      flex-direction: column;
      align-items: stretch;
    }
  
    .volontariato-immagine {
      order: 1;
    }
  
    .volontariato-testo {
      order: 2;
      text-align: left;
      padding: 0 15px;
    }

    .volontariato-testo h2 {
      margin-top: 10px;
    }

    .volontariato-immagine img {
      max-width: 90%; 
    }
  }

  .blocco-volontariato-destra {
    margin: 30px 0;
  }
  
  .contenuto-volontariato-destra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .volontariato-testo-destra {
    flex: 2;
    min-width: 250px;
    max-width: 500px;
  }
  
  .volontariato-immagine-destra {
    flex: 1;
    text-align: center;
  }
  
  .volontariato-immagine-destra img {
    max-width: 480px;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  @media (min-width: 1200px) {
    .volontariato-immagine-destra img {
      max-width: 520px;   
      height: auto;
    }
  }

  @media (max-width: 768px) {
    .contenuto-volontariato-destra {
      flex-direction: column;
      align-items: stretch;
    }
  
    .volontariato-immagine-destra {
      order: 1;
      text-align: center;
    }
  
    .volontariato-testo-destra {
      order: 2;
      text-align: left;
      padding: 0 15px;
    }
  
    .volontariato-immagine-destra img {
      max-width: 100%;
    }
  }

  .volontariato-immagine2 img {
    border-radius: 10px;
  }
  
  @media (min-width: 1200px) {
    .volontariato-immagine2 img {
      max-width: 480px;
    }
  }

  .distanza-testo li {
    line-height: 1.5;
  }
  